
body{

}

#header-nav{
  background-color:fff;
  border-radius:0;
  border:0;
  color:fff;
}

  .navbar-nav {
    text-align: center;
    color:fff;
}

#chicken{
  background-color: #ffe6cc;
}

#beef{
  background-color:#ff9999
;
}

#sushie{
  background-color:#cce0ff;
}
