
body{

}

#header-nav{
  background-color:fff;
  border-radius:0;
  border:0;
  color:fff;
}

  .navbar-nav {
    text-align: center;
    color:fff;
}

#chicken{
  background-color:red;
}

#beef{
  background-color:blue;
}

#sushie{
  background-color:yellow;
}
